<div class="body-container">
    <img class="center-img" src="static/wheel-shame-logo-250.png">
    <h2 class="center">What is it?  How does it work?</h2>
    <p class="center" style="font-size: 18px; line-height: 36px;">The Wheel of Shame is a nationwide database of license plate numbers linked to driving and behavioral offenses, supported by photo/video evidence.  The platform allows drivers to be held accountable by their fellow drivers in a system of self-policing.  There is no legal penalty that results from driver reputations derived from this database, however, it provides a medium for reporting.</p>
</div>