<div class="body-container">

<table width="50%" border="1">

    <tr>
        <th>Most Common Offense</th>
        <th>Total Reported</th>
    </tr>

    {{#each incidents}}
    <tr>
        <td>{{offense}}</td>
        <td>{{total}}</td>
    </tr>
    {{/each}}

</table>

</div>